Repository ntkwan/newsify: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --write, prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write, prettier --ignore-path .eslintignore --write, prettier --ignore-path .eslintignore --single-quote --write

Update services image tags [skip ci]
  charts/dev/values.yaml
Due: none

refactor: change folder structure for custom models
  ML/trending-score.ipynb
  custom-models/news-comparison.ipynb
  custom-models/news_with_trends_and_scores.csv
  custom-models/trending-score.ipynb
  data/19-26-48.json
  frontend/src/app/articles/page.tsx
  pipeline/trending-score.ipynb
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

feat: add trending endpoints
  backend/src/articles/article.repository.ts
  backend/src/articles/articles.controller.ts
  backend/src/articles/articles.service.ts
  backend/src/articles/dtos/trending-pagination.dto.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

feat: check duplicates
  pipeline/dags/data_crawling/rss_crawl.py
  pipeline/dags/data_crawling/s3_uploader.py
Due: none

fix: :bug: Add podcast grid for other podcasts
  frontend/src/app/daily-podcasts/page.tsx
  frontend/src/components/podcast-grid.tsx
  frontend/src/components/podcast-player.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

feat: :art: Add Cmd + K Search ver #1
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/command-menu.tsx
  frontend/src/components/layout/header.tsx
  frontend/src/components/podcast-grid.tsx
  frontend/src/components/ui/command.tsx
  frontend/src/components/ui/dialog.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write, prettier --ignore-path .eslintignore --write

feat: add search endpoints
  backend/deps.mermaid
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/articles/articles.controller.ts
  backend/src/articles/articles.module.ts
  backend/src/search/dtos/search-response.dto.ts
  backend/src/search/elasticsearch.service.ts
  backend/src/search/search.module.ts
  backend/src/search/sync.service.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write, prettier --ignore-path .eslintignore --write

fix: change elasticsearch to v7
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/search/elasticsearch.service.ts
  backend/src/search/search.module.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write, prettier --ignore-path .eslintignore --write

fix: resolve errors in syncing
  .github/workflows/audio-service-cd.yml
  .github/workflows/backend-cd.yml
  backend/.env.example
  backend/src/search/dtos/search-response.dto.ts
  backend/src/search/elasticsearch.service.ts
  backend/src/search/sync.service.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

fix: enhance multi match for els
  backend/src/articles/articles.controller.ts
  backend/src/search/dtos/search-response.dto.ts
  backend/src/search/search.module.ts
  backend/src/search/search.service.ts
  backend/src/search/sync.service.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

fix: allow to search by title
  backend/src/search/search.service.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

fix: allow to separate search by fields
  backend/src/search/search.service.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

Merge pull request #40 from ntkwan/quan/feature/be/search-service
  .github/workflows/audio-service-cd.yml
  .github/workflows/backend-cd.yml
  backend/.env.example
  backend/deps.mermaid
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/articles/articles.controller.ts
  backend/src/articles/articles.module.ts
  backend/src/search/dtos/search-response.dto.ts
  backend/src/search/search.module.ts
  backend/src/search/search.service.ts
  backend/src/search/sync.service.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write, prettier --ignore-path .eslintignore --write

feat: add db sync from trending-service to els
  .github/workflows/backend-cd.yml
  .github/workflows/trending-service-cd.yml
  backend/Dockerfile
  services/trending-service/Dockerfile
  services/trending-service/app/services/elasticsearch_service.py
  services/trending-service/app/services/trending_service.py
  services/trending-service/requirements.txt
Due: none

Merge pull request #41 from ntkwan/quan/feature/be/sync-db-to-els
  .github/workflows/backend-cd.yml
  .github/workflows/trending-service-cd.yml
  backend/Dockerfile
  services/trending-service/Dockerfile
  services/trending-service/app/services/elasticsearch_service.py
  services/trending-service/app/services/trending_service.py
  services/trending-service/requirements.txt
Due: none

feat: random user agents while crawling
  pipeline/config/airflow.cfg
  pipeline/dags/data_crawling/rss_crawl.py
  pipeline/dags/data_crawling/rss_sources.yaml
  pipeline/dags/data_crawling/s3_uploader.py
  pipeline/docker-compose.yaml
Due: none

fix: fix path saving data in bronze and save to silver based on date_hour
  pipeline/dags/data_processing/silver_to_gold.py
  pipeline/dags/data_processing/to_bronze.py
  pipeline/dags/data_processing/to_silver.py
  pipeline/dags/news_scraper/news_scraper/settings.py
Due: none

feat: add staging env
  .gitignore
  apps/dev/ingress.yaml
  apps/staging/app-of-apps-staging.yaml
  apps/staging/application.yaml
  apps/staging/ingress.yaml
  charts/staging/Chart.yaml
  charts/staging/templates/_helpers.tpl
  charts/staging/templates/deployment.yaml
  charts/staging/templates/namespace.yaml
  charts/staging/templates/service.yaml
  charts/staging/values.yaml
Due: none

Delete ML directory
  ML/trending-score.ipynb
Due: none

Create a.txt
  custom-models/a.txt
Due: none

fix: change staging domain
  apps/staging/ingress.yaml
  charts/staging/values.yaml
Due: none

fix: change folder path
  .github/workflows/audio-service-cd.yml
  .github/workflows/backend-cd.yml
  .github/workflows/trending-service-cd.yml
Due: none

Path conditions:
  prettier --ignore-path .eslintignore --single-quote --tab-width 4 --write: (any of: backend/**/*.{css,scss}) or (any of: frontend/**/*.{css,scss})
  prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write: (any of: backend/**/*.{js,jsx,ts,tsx}) or (any of: frontend/**/*.{js,jsx,ts,tsx})
  prettier --ignore-path .eslintignore --write: (any of: backend/**/*.json) or (any of: frontend/**/*.json)
  prettier --ignore-path .eslintignore --single-quote --write: (any of: backend/**/*.{html,md,yml}) or (any of: frontend/**/*.{html,md,yml})
