Repository ntkwan/newsify: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --write, prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write, prettier --ignore-path .eslintignore --write, prettier --ignore-path .eslintignore --single-quote --write

ci: trigger ci for branch dev for both push and pr action
  .github/workflows/commit-lint.yml
  .github/workflows/lint.yml
Due: none

refactor: convert podcast module to audio service module
  services/audio-service/.gitignore
  services/audio-service/Dockerfile
  services/audio-service/README.md
  services/audio-service/app/main.py
  services/audio-service/app/models.py
  services/audio-service/app/services/__init__.py
  services/audio-service/app/services/podcast_service.py
  services/audio-service/app/services/upload_service.py
  services/audio-service/docker-compose.yml
  services/audio-service/requirements.txt
  services/trending-service/README.md
Due: none

refactor: add articles service as fetching data repository
  services/audio-service/Dockerfile
  services/audio-service/README.md
  services/audio-service/app/main.py
  services/audio-service/app/services/__init__.py
  services/audio-service/app/services/article_service.py
  services/audio-service/app/services/podcast_service.py
  services/audio-service/docker-compose.yml
Due: none

refactor: change podcast endpoint interface
  services/audio-service/README.md
  services/audio-service/app/main.py
  services/audio-service/app/services/podcast_service.py
Due: none

refactor: remove podcast module from query backend
  backend/deps.mermaid
  backend/src/app.module.ts
  backend/src/podcast/dtos/generate-podcast.dto.ts
  backend/src/podcast/dtos/podcast-response.dto.ts
  backend/src/podcast/podcast.controller.ts
  backend/src/podcast/podcast.module.ts
  backend/src/podcast/podcast.service.ts
  backend/src/uploader/upload.module.ts
  backend/src/uploader/upload.service.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

Merge pull request #17 from ntkwan/quan/feature/be/tts-service
  backend/deps.mermaid
  backend/src/app.module.ts
  backend/src/podcast/dtos/generate-podcast.dto.ts
  backend/src/podcast/dtos/podcast-response.dto.ts
  backend/src/podcast/podcast.controller.ts
  backend/src/podcast/podcast.module.ts
  backend/src/podcast/podcast.service.ts
  backend/src/uploader/upload.module.ts
  backend/src/uploader/upload.service.ts
  services/audio-service/.gitignore
  services/audio-service/Dockerfile
  services/audio-service/README.md
  services/audio-service/app/main.py
  services/audio-service/app/models.py
  services/audio-service/app/services/__init__.py
  services/audio-service/app/services/article_service.py
  services/audio-service/app/services/podcast_service.py
  services/audio-service/app/services/upload_service.py
  services/audio-service/docker-compose.yml
  services/audio-service/requirements.txt
  services/trending-service/README.md
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

feat: load raw data to bronze layer using delta table
  pipeline/dags/data-processing/test_spark.py
  pipeline/dags/data-processing/to_bronze.py
  pipeline/dags/news_scraper/news_scraper/spiders/cnn_spider.py
  pipeline/docker-compose.yaml
  pipeline/docker-setup/spark/Dockerfile
  pipeline/docker-setup/spark/conf/spark-defaults.conf
  pipeline/docker-setup/spark/entrypoint.sh
Due: none

feat: processing data and upload to silver layer
  pipeline/dags/data-processing/to_bronze.py
  pipeline/dags/data-processing/to_silver.py
Due: none

feat: add column language to schema
  pipeline/dags/data-processing/to_bronze.py
  pipeline/dags/data-processing/to_silver.py
  pipeline/docker-setup/airflow/requirements.txt
Due: none

feat: upload data to supbase db
  pipeline/dags/data-processing/silver_to_sb.py
  pipeline/dags/data-processing/to_silver.py
Due: none

feat: processing date and categories fields
  pipeline/dags/data-processing/to_bronze.py
  pipeline/dags/data-processing/to_silver.py
  pipeline/docker-setup/airflow/requirements.txt
Due: none

feat: upload data from silver layer to supabase db
  pipeline/dags/data-processing/silver_to_sb.py
  pipeline/dags/data-processing/testsp.py
Due: none

fix: :bug: Integrate back-end for daily news pagination
  frontend/src/app/daily-news/page.tsx
  frontend/src/components/news-article.tsx
  frontend/src/services/article.service.ts
  frontend/src/types/article.ts
  services/audio-service/README.md
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

refactor: add 2 ways database connection
  services/audio-service/app/main.py
  services/audio-service/app/services/article_service.py
  services/audio-service/app/services/database.py
  services/audio-service/app/services/podcast_service.py
  services/audio-service/requirements.txt
Due: none

refactor: change database schema for podcast
  services/audio-service/README.md
  services/audio-service/app/main.py
  services/audio-service/app/models.py
  services/audio-service/app/services/article_service.py
  services/audio-service/app/services/database.py
  services/audio-service/app/services/podcast_service.py
  services/audio-service/sync_do_tables.py
Due: none

refactor: change database schema for trending articles
  services/trending-service/README.md
  services/trending-service/app/main.py
  services/trending-service/app/services/__init__.py
  services/trending-service/app/services/database.py
  services/trending-service/app/services/trending_service.py
  services/trending-service/requirements.txt
  services/trending-service/sync_do_tables.py
Due: none

feat: add endpoint to allow fetch and score latest news
  services/trending-service/README.md
  services/trending-service/app/main.py
  services/trending-service/app/services/trending_service.py
  services/trending-service/requirements.txt
Due: none

refactor: update interface endpoints for scoring trendy articles
  services/audio-service/README.md
  services/trending-service/README.md
  services/trending-service/app/main.py
  services/trending-service/app/services/trending_service.py
Due: none

refactor: change aggregated database schema
  services/trending-service/app/main.py
  services/trending-service/app/services/database.py
  services/trending-service/app/services/trending_service.py
  services/trending-service/sync_do_tables.py
Due: none

refactor: add indexing for podcast table
  services/audio-service/app/services/database.py
  services/audio-service/sync_do_tables.py
Due: none

chore: change schema for migration
  services/trending-service/app/services/database.py
  services/trending-service/migrate_articles.py
  services/trending-service/requirements.txt
Due: none

chore: modify migration script to adapt new schema
  services/trending-service/app/main.py
  services/trending-service/app/services/database.py
  services/trending-service/app/services/trending_service.py
  services/trending-service/migrate_articles.py
Due: none

refactor: change from file to database adapter
  backend/.env.example
  backend/deps.mermaid
  backend/src/app.module.ts
  backend/src/articles/article.repository.ts
  backend/src/articles/articles.controller.ts
  backend/src/articles/articles.module.ts
  backend/src/articles/articles.service.ts
  backend/src/articles/dtos/pagination-response.dto.ts
  backend/src/articles/entities/article.model.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

refactor: allow to fetch latest articles
  backend/src/articles/article.repository.ts
  backend/src/articles/articles.controller.ts
  backend/src/articles/articles.service.ts
  backend/src/articles/dtos/article-response.dto.ts
  backend/src/articles/dtos/paginated-articles-response.dto.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

Merge pull request #21 from ntkwan/quan/feature/be/change-database-endpoint
  backend/.env.example
  backend/deps.mermaid
  backend/src/app.module.ts
  backend/src/articles/article.repository.ts
  backend/src/articles/articles.controller.ts
  backend/src/articles/articles.module.ts
  backend/src/articles/articles.service.ts
  backend/src/articles/dtos/article-response.dto.ts
  backend/src/articles/dtos/paginated-articles-response.dto.ts
  backend/src/articles/dtos/pagination-response.dto.ts
  backend/src/articles/entities/article.model.ts
  services/audio-service/README.md
  services/audio-service/app/main.py
  services/audio-service/app/models.py
  services/audio-service/app/services/article_service.py
  services/audio-service/app/services/database.py
  services/audio-service/app/services/podcast_service.py
  services/audio-service/requirements.txt
  services/audio-service/sync_do_tables.py
  services/trending-service/README.md
  services/trending-service/app/main.py
  services/trending-service/app/services/__init__.py
  services/trending-service/app/services/database.py
  services/trending-service/app/services/trending_service.py
  services/trending-service/migrate_articles.py
  services/trending-service/requirements.txt
  services/trending-service/sync_do_tables.py
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

fix: :bug: Bug fixing for date range picker
  frontend/next.config.ts
  frontend/src/app/api/audio/[...path]/route.ts
  frontend/src/app/daily-news/loading.tsx
  frontend/src/app/daily-news/page.tsx
  frontend/src/app/daily-podcasts/page.tsx
  frontend/src/components/date-range-picker.tsx
  frontend/src/components/news-list.tsx
  frontend/src/components/pagination.tsx
  frontend/src/components/podcast-player.tsx
  frontend/src/components/search-bar.tsx
  frontend/src/components/sections/search-section.tsx
  frontend/src/lib/utils.ts
  frontend/src/services/article.service.ts
  frontend/src/services/news.service.ts
  frontend/src/types/audio.d.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

refactor: change podcast schema
  services/audio-service/README.md
  services/audio-service/app/models.py
  services/audio-service/app/services/database.py
  services/audio-service/app/services/podcast_service.py
  services/audio-service/sync_do_tables.py
Due: none

feat: add category endpoint
  backend/src/articles/article.repository.ts
  backend/src/articles/articles.controller.ts
  backend/src/articles/articles.service.ts
  backend/src/articles/dtos/category-pagination.dto.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

refactor: add enums of available category to categories endpoint
  backend/src/articles/articles.controller.ts
  backend/src/articles/constants/categories.ts
  backend/src/articles/dtos/category-pagination.dto.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

feat: add podcast endpoints
  backend/deps.mermaid
  backend/src/app.module.ts
  backend/src/podcasts/dtos/paginated-podcasts-response.dto.ts
  backend/src/podcasts/dtos/pagination.dto.ts
  backend/src/podcasts/dtos/podcast-response.dto.ts
  backend/src/podcasts/dtos/time-range.dto.ts
  backend/src/podcasts/entities/podcast.model.ts
  backend/src/podcasts/podcast.repository.ts
  backend/src/podcasts/podcasts.controller.ts
  backend/src/podcasts/podcasts.module.ts
  backend/src/podcasts/podcasts.service.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

feat: add article summary endpoint
  backend/.env.example
  backend/LICENSE
  backend/docker-compose.yml
  backend/src/articles/article.repository.ts
  backend/src/articles/articles.controller.ts
  backend/src/articles/articles.service.ts
  backend/src/auth/auth.service.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write, prettier --ignore-path .eslintignore --single-quote --write

Merge pull request #23 from ntkwan/quan/feature/be/get-articles-by-endpoints
  backend/.env.example
  backend/LICENSE
  backend/deps.mermaid
  backend/docker-compose.yml
  backend/src/app.module.ts
  backend/src/articles/article.repository.ts
  backend/src/articles/articles.controller.ts
  backend/src/articles/articles.service.ts
  backend/src/articles/constants/categories.ts
  backend/src/articles/dtos/category-pagination.dto.ts
  backend/src/auth/auth.service.ts
  backend/src/podcasts/dtos/paginated-podcasts-response.dto.ts
  backend/src/podcasts/dtos/pagination.dto.ts
  backend/src/podcasts/dtos/podcast-response.dto.ts
  backend/src/podcasts/dtos/time-range.dto.ts
  backend/src/podcasts/entities/podcast.model.ts
  backend/src/podcasts/podcast.repository.ts
  backend/src/podcasts/podcasts.controller.ts
  backend/src/podcasts/podcasts.module.ts
  backend/src/podcasts/podcasts.service.ts
  services/audio-service/README.md
  services/audio-service/app/models.py
  services/audio-service/app/services/database.py
  services/audio-service/app/services/podcast_service.py
  services/audio-service/sync_do_tables.py
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write, prettier --ignore-path .eslintignore --single-quote --write

feat: add redis pub/sub
  .gitignore
  services/audio-service/app/main.py
  services/audio-service/app/services/__init__.py
  services/audio-service/app/services/redis_service.py
  services/audio-service/requirements.txt
  services/notify_data_update.py
  services/trending-service/app/main.py
  services/trending-service/app/services/__init__.py
  services/trending-service/app/services/redis_service.py
  services/trending-service/requirements.txt
Due: none

feat: add send notification to redis when preprocessing job finished
  pipeline/dags/data-processing/silver_to_sb.py
  services/notify_data_update.py
Due: none

fix: remove services field in details
  pipeline/dags/data-processing/silver_to_sb.py
Due: none

fix: add exception handling
  pipeline/dags/data-processing/silver_to_sb.py
Due: none

fix: change update type
  pipeline/dags/data-processing/silver_to_sb.py
  services/audio-service/app/main.py
  services/notify_data_update.py
  services/trending-service/app/main.py
Due: none

fix: add TLS to connection
  pipeline/dags/data-processing/silver_to_sb.py
Due: none

Merge pull request #24 from ntkwan/quan/feature/be/setup-redis-pubsub
  .gitignore
  pipeline/dags/data-processing/silver_to_sb.py
  services/audio-service/app/main.py
  services/audio-service/app/services/__init__.py
  services/audio-service/app/services/redis_service.py
  services/audio-service/requirements.txt
  services/notify_data_update.py
  services/trending-service/app/main.py
  services/trending-service/app/services/__init__.py
  services/trending-service/app/services/redis_service.py
  services/trending-service/requirements.txt
Due: none

fix: :art: Open summary page instead of article directly #1
  frontend/src/app/article/[id]/page.tsx
  frontend/src/components/news-article.tsx
  frontend/src/types/article.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

Path conditions:
  prettier --ignore-path .eslintignore --single-quote --tab-width 4 --write: (any of: backend/**/*.{css,scss}) or (any of: frontend/**/*.{css,scss})
  prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write: (any of: backend/**/*.{js,jsx,ts,tsx}) or (any of: frontend/**/*.{js,jsx,ts,tsx})
  prettier --ignore-path .eslintignore --write: (any of: backend/**/*.json) or (any of: frontend/**/*.json)
  prettier --ignore-path .eslintignore --single-quote --write: (any of: backend/**/*.{html,md,yml}) or (any of: frontend/**/*.{html,md,yml})
