Repository ntkwan/newsify: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --write, prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write, prettier --ignore-path .eslintignore --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc:

{
  "backend/**/*.{css,scss}": [
    "prettier --ignore-path .eslintignore --single-quote --tab-width 4 --write"
  ],
  "backend/**/*.{js,jsx,ts,tsx}": [
    "prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write"
  ],
  "backend/**/*.json": [
    "prettier --ignore-path .eslintignore --write"
  ],
  "backend/**/*.{html,md,yml}": [
    "prettier --ignore-path .eslintignore --single-quote --write"
  ],
  "frontend/**/*.{css,scss}": [
    "prettier --ignore-path .eslintignore --single-quote --tab-width 4 --write"
  ],
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write"
  ],
  "frontend/**/*.json": [
    "prettier --ignore-path .eslintignore --write"
  ],
  "frontend/**/*.{html,md,yml}": [
    "prettier --ignore-path .eslintignore --single-quote --write"
  ]
}

Update services image tags [skip ci]
  charts/dev/values.yaml
Due: none

fix: add helper to fix left-hand side of arithmetic operation error
  .vscode/settings.json
  README.md
  commitlint.config.js
  frontend/pnpm-lock.yaml
  frontend/src/components/podcast-grid.tsx
  frontend/src/components/sections/latest-podcast-section.tsx
  frontend/src/utils/format-helpers.ts
  package.json
  services/audio-service/README.md
  services/trending-service/README.md
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

fix: lint
  frontend/src/components/podcast-grid.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

Update services image tags [skip ci]
  charts/staging/values.yaml
Due: none

fix: docker for detal-spark
  pipeline/docker-setup/spark/Dockerfile
  pipeline/docker-setup/spark/conf/spark-defaults.conf
  pipeline/docker-setup/spark/entrypoint.sh
  pipeline/docker-setup/spark/requirements.txt
Due: none

refactor: change response to proper format
  services/audio-service/app/services/podcast_service.py
Due: none

refactor: change the logic of calculating audio's length
  services/audio-service/README.md
  services/audio-service/app/services/podcast_service.py
Due: none

refactor: change layout to adapt pagination endpoint
  frontend/src/app/daily-podcasts/page.tsx
  frontend/src/components/podcast-grid.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

Merge pull request #70 from ntkwan/quan/refactor/be/audio-service
  frontend/src/app/daily-podcasts/page.tsx
  frontend/src/components/podcast-grid.tsx
  services/audio-service/README.md
  services/audio-service/app/services/podcast_service.py
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

refactor: remove time details to podcast title
  frontend/src/app/daily-podcasts/page.tsx
  frontend/src/components/podcast-grid.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

Merge pull request #71 from ntkwan/quan/refactor/be/audio-service
  frontend/src/app/daily-podcasts/page.tsx
  frontend/src/components/podcast-grid.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

Merge pull request #72 from ntkwan/dev
  frontend/src/app/daily-podcasts/page.tsx
  frontend/src/components/podcast-grid.tsx
  services/audio-service/README.md
  services/audio-service/app/services/podcast_service.py
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

feat: refactor code
  pipeline/include/data_processing/silver_to_db.py
Due: none

fix: spark config
  pipeline/include/data_processing/silver_to_gold.py
  pipeline/include/data_processing/to_bronze.py
  pipeline/include/data_processing/to_silver.py
Due: none

feat: testing connection and check timezone in spark session
  pipeline/include/data_processing/checktz.py
  pipeline/include/data_processing/test_spark.py
  pipeline/include/data_processing/testsp.py
Due: none

feat: update data pipeline section in readme file
  README.md
  images/data-pipeline.png
Due: none

fix: :bug: Bug fixes about category's badge
  frontend/src/app/articles/[id]/page.tsx
  frontend/src/app/articles/search/page.tsx
  frontend/src/components/sections/latest-news-section.tsx
  frontend/src/components/sections/trending-news-section.tsx
  frontend/src/components/ui/news-card.tsx
  frontend/src/data/mock-data.json
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write, prettier --ignore-path .eslintignore --write

feat: add caching for podcasts
  backend/src/podcasts/podcasts.service.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

refactor silver to dbs code
  pipeline/include/data_processing/silver_to_db.py
Due: none

refactor uploading to bronze code
  pipeline/dags/.airflowignore
  pipeline/dags/dag.py
  pipeline/docker-setup/spark/requirements.txt
  pipeline/include/data_processing/testsp.py
  pipeline/include/data_processing/to_bronze.py
Due: none

refactor upload to silver and to dbs and to gold code
  pipeline/include/data_processing/silver_to_db.py
  pipeline/include/data_processing/silver_to_gold.py
  pipeline/include/data_processing/test_supabase.py
  pipeline/include/data_processing/to_silver.py
Due: none

feat: add rss sources
  pipeline/include/data_crawling/rss_crawl.py
  pipeline/include/data_crawling/rss_sources.yaml
  pipeline/milvus/test_milvus.py
Due: none

fix: :bug: Fix categories in articles page
  frontend/src/app/articles/page.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

chore: update README.md
  README.md
Due: none

fix: change min score to display
  frontend/src/services/article.service.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write
