Repository ntkwan/newsify: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --write, prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write, prettier --ignore-path .eslintignore --write, prettier --ignore-path .eslintignore --single-quote --write

Update services image tags [skip ci]
  charts/staging/values.yaml
Due: none

fix: :art: Adjust badge colors
  frontend/src/app/articles/search/page.tsx
  frontend/src/components/sections/category-section.tsx
  frontend/src/components/ui/news-card.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

refactor: change folder structure
  services/audio-service/app/models.py
  services/audio-service/app/services/article_service.py
  services/audio-service/docker-compose.yml
  services/audio-service/utils/sync_do_tables.py
  services/trending-service/docker-compose.yaml
  services/trending-service/remove_duplicate_articles.py
  services/trending-service/utils/migrate_articles.py
  services/trending-service/utils/remove_duplicate_articles.py
  services/trending-service/utils/sync_do_tables.py
Due: none

Update services image tags [skip ci]
  charts/dev/values.yaml
Due: none

feat: :art: Fix timezone
  frontend/src/app/articles/search/page.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

feat: :bug: Fix rerender at top pick categories
  frontend/src/components/sections/category-section.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

feat: upload silver data to gold layer
  pipeline/dags/data_processing/silver_to_gold.py
Due: none

feat: dag for processing and uploading data to dbs
  pipeline/dags/dag.py
  pipeline/dags/data_crawling/rss_crawl.py
  pipeline/docker-compose.yaml
  pipeline/requirements.txt
Due: none

feat: add vector search endpoint
  backend/deps.mermaid
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/articles/article.repository.ts
  backend/src/articles/articles.controller.ts
  backend/src/articles/articles.module.ts
  backend/src/articles/articles.service.ts
  backend/src/milvus/milvus.module.ts
  backend/src/milvus/milvus.service.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write, prettier --ignore-path .eslintignore --write

feat: improve accuracy for getting related articles
  backend/src/articles/article.repository.ts
  backend/src/articles/articles.module.ts
  backend/src/articles/articles.service.ts
  backend/src/milvus/milvus.service.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

Merge pull request #62 from ntkwan/quan/feature/be/get-related-articles
  backend/deps.mermaid
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/articles/article.repository.ts
  backend/src/articles/articles.controller.ts
  backend/src/articles/articles.module.ts
  backend/src/articles/articles.service.ts
  backend/src/milvus/milvus.module.ts
  backend/src/milvus/milvus.service.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write, prettier --ignore-path .eslintignore --write

fix: add MILVUS env
  .github/workflows/backend-cd.yml
Due: none

fix: add env for backend Dockerfile
  backend/.env.example
  backend/Dockerfile
Due: none

fix: add missing MILVUS ARG
  backend/Dockerfile
Due: none

feat: :art: Add related articles in article's summary
  frontend/src/app/articles/[id]/page.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

refactor: change to 2 voices actor for generating podcast
  services/audio-service/app/services/database.py
  services/audio-service/app/services/podcast_service.py
Due: none

refactor: change response type
  backend/src/podcasts/dtos/podcast-response.dto.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

refactor: change layout to adapt switching between voices
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/podcast-player.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/types/podcast.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write, prettier --ignore-path .eslintignore --write

refactor: make smooth transitioning
  frontend/src/components/podcast-player.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

refactor: add male transcript to database
  services/audio-service/app/services/database.py
  services/audio-service/app/services/podcast_service.py
Due: none

refactor: change response and podcast model schema
  services/audio-service/app/main.py
  services/audio-service/app/models.py
  services/audio-service/app/services/database.py
Due: none

fix: change to new schema to display
  frontend/src/app/api/podcasts/route.ts
  frontend/src/app/daily-podcasts/page.tsx
  frontend/src/components/podcast-grid.tsx
  frontend/src/components/podcast-player.tsx
  frontend/src/types/podcast.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

refactor: change timestamp script logic of parsing
  frontend/src/app/daily-podcasts/page.tsx
  frontend/src/components/podcast-player.tsx
  frontend/src/types/podcast.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

refactor: change UI elements
  frontend/src/app/daily-podcasts/page.tsx
  frontend/src/utils/format-helpers.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

refactor: change podcast schema from backend
  backend/src/podcasts/dtos/podcast-response.dto.ts
  backend/src/podcasts/entities/podcast.model.ts
  frontend/src/app/daily-podcasts/page.tsx
  frontend/src/components/podcast-player.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

Path conditions:
  prettier --ignore-path .eslintignore --single-quote --tab-width 4 --write: (any of: backend/**/*.{css,scss}) or (any of: frontend/**/*.{css,scss})
  prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write: (any of: backend/**/*.{js,jsx,ts,tsx}) or (any of: frontend/**/*.{js,jsx,ts,tsx})
  prettier --ignore-path .eslintignore --write: (any of: backend/**/*.json) or (any of: frontend/**/*.json)
  prettier --ignore-path .eslintignore --single-quote --write: (any of: backend/**/*.{html,md,yml}) or (any of: frontend/**/*.{html,md,yml})
