Repository ntkwan/newsify: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --write, prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write, prettier --ignore-path .eslintignore --write, prettier --ignore-path .eslintignore --single-quote --write

Update services image tags [skip ci]
  charts/staging/values.yaml
Due: none

refactor: change search route and apply new CD policy
  backend/src/articles/articles.controller.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

refactor: allow to make changes to specific services
  .github/workflows/audio-service-cd.yml
  .github/workflows/backend-cd.yml
  .github/workflows/trending-service-cd.yml
Due: none

Update services image tags [skip ci]
  charts/dev/values.yaml
Due: none

Merge pull request #49 from ntkwan/dev
  .github/workflows/audio-service-cd.yml
  .github/workflows/backend-cd.yml
  .github/workflows/trending-service-cd.yml
  backend/src/articles/articles.controller.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

fix: :bug: Custom Command Input with badges
  frontend/src/components/command-menu.tsx
  frontend/src/components/ui/command.tsx
  frontend/tailwind.config.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

feat: :art: Update daily podcast with source link & fix other podcast grid
  frontend/src/app/daily-podcasts/page.tsx
  frontend/src/components/podcast-grid.tsx
  frontend/src/types/podcast.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

fix: :ambulance: Fix article's summary UI
  frontend/src/app/articles/[id]/page.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

feat: :ambulance: Fix header UI error at /articles
  frontend/src/components/layout/header.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

feat: :art: Update Trending News with carousel ui & logic
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/page.tsx
  frontend/src/components/sections/trending-news-section.tsx
  frontend/src/components/ui/carousel.tsx
  frontend/src/components/ui/news-card.tsx
  frontend/src/services/article.service.ts
  frontend/src/types/article.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write, prettier --ignore-path .eslintignore --write

feat: :art: Update home page UI
  frontend/src/app/page.tsx
  frontend/src/components/category-section.tsx
  frontend/src/components/sections/category-section.tsx
  frontend/src/components/sections/hero-section.tsx
  frontend/src/components/sections/latest-news-section.tsx
  frontend/src/components/sections/latest-podcast-section.tsx
  frontend/src/components/sections/news-and-category-section.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

refactor: change data receiving logic
  services/audio-service/app/main.py
  services/audio-service/app/models.py
  services/audio-service/app/services/article_service.py
  services/audio-service/app/services/database.py
  services/trending-service/app/main.py
  services/trending-service/app/services/database.py
  services/trending-service/app/services/trending_service.py
Due: none

chore: add remove duplicate articles script
  services/trending-service/remove_duplicate_articles.py
Due: none

refactor: change trending-service model and add update db script
  custom-models/trending-score.ipynb
  services/trending-service/app/main.py
  services/trending-service/update_trending_scores.py
Due: none

fix: change display timezone
  frontend/src/app/daily-podcasts/page.tsx
  frontend/src/components/podcast-grid.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

Merge pull request #56 from ntkwan/quan/fix/fe/change-timezone-podcast-display
  frontend/src/app/daily-podcasts/page.tsx
  frontend/src/components/podcast-grid.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

chore: remove unused imports
  services/trending-service/app/services/database.py
  services/trending-service/app/services/trending_service.py
Due: none

feat: :art: Add bounce effect when summarizing the article
  frontend/src/app/articles/[id]/page.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

fix: :bug: Fix other podcasts & add loading for all pages
  frontend/src/app/articles/loading.tsx
  frontend/src/app/daily-podcasts/loading.tsx
  frontend/src/app/daily-podcasts/page.tsx
  frontend/src/components/podcast-grid.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

feat: :art: Finish logic with Command K search
  frontend/src/components/command-menu.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

feat: :art: Refactoring code for articles pagination
  frontend/src/app/articles/page.tsx
  frontend/src/components/news-article.tsx
  frontend/src/components/pagination.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

fix: :bug: Fix tag social for not leading misunderstood
  frontend/src/app/articles/[id]/page.tsx
  frontend/src/app/articles/page.tsx
  frontend/src/components/layout/header.tsx
  frontend/src/components/news-article.tsx
  frontend/src/components/pagination.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

feat: :art: Highlighting search result
  frontend/src/app/articles/search/page.tsx
  frontend/src/components/command-menu.tsx
  frontend/src/components/ui/skeleton.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

feat: :art: Fix badge color
  frontend/src/app/articles/search/page.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

Path conditions:
  prettier --ignore-path .eslintignore --single-quote --tab-width 4 --write: (any of: backend/**/*.{css,scss}) or (any of: frontend/**/*.{css,scss})
  prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write: (any of: backend/**/*.{js,jsx,ts,tsx}) or (any of: frontend/**/*.{js,jsx,ts,tsx})
  prettier --ignore-path .eslintignore --write: (any of: backend/**/*.json) or (any of: frontend/**/*.json)
  prettier --ignore-path .eslintignore --single-quote --write: (any of: backend/**/*.{html,md,yml}) or (any of: frontend/**/*.{html,md,yml})
