Repository ntkwan/newsify: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --write, prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write, prettier --ignore-path .eslintignore --write, prettier --ignore-path .eslintignore --single-quote --write

clean code
  pipeline/include/data_crawling/rss_sources.yaml
  pipeline/include/data_processing/silver_to_db.py
  pipeline/include/data_processing/to_silver.py
Due: none

test: add audio service with PostgreSQL, Redis, and testing setup
  services/audio-service/.gitignore
  services/audio-service/README.md
  services/audio-service/TESTING.md
  services/audio-service/TEST_REPORT.md
  services/audio-service/app/services/article_service.py
  services/audio-service/docker-compose.yml
  services/audio-service/pytest.ini
  services/audio-service/requirements.txt
  services/audio-service/run_tests.sh
  services/audio-service/tests/__init__.py
  services/audio-service/tests/conftest.py
  services/audio-service/tests/test_article_service.py
  services/audio-service/tests/test_main.py
  services/audio-service/tests/test_podcast_service.py
  services/audio-service/tests/test_redis_service.py
  services/audio-service/tests/test_upload_service.py
Due: none

refactor: rollback old logic
  services/audio-service/app/services/article_service.py
Due: none

chore: add .env example for services and infra docker-compose
  services/audio-service/.env.example
  services/docker-compose.yml
  services/trending-service/.env.example
Due: none

refactor: update image url
  frontend/src/components/news-article.tsx
  frontend/src/components/sections/category-section.tsx
  frontend/src/services/article.service.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

refactor: update script
  services/trending-service/utils/migrate_articles.py
  services/trending-service/utils/sync_do_tables.py
Due: none

feat: add docker compose
  services/docker-compose.yml
Due: none

refactor: fix redis tls
  backend/src/app.module.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

chore: trigger audio-service build
  .github/workflows/audio-service-cd.yml
Due: none

chore: trigger backend service build
  .github/workflows/backend-cd.yml
Due: none

chore: trigger trending-service build
  .github/workflows/trending-service-cd.yml
Due: none

feat: add testing report and unit test for service file
  backend/TESTING.md
  backend/TEST_REPORT.md
  backend/eslint.config.mjs
  backend/src/articles/articles.service.spec.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/milvus/milvus.service.spec.ts
  backend/src/podcasts/podcasts.service.spec.ts
  backend/src/search/search.service.spec.ts
  backend/src/search/sync.service.spec.ts
  backend/src/users/users.service.spec.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write, prettier --ignore-path .eslintignore --single-quote --write

chore: trigger build audio-service
  .github/workflows/audio-service-cd.yml
Due: none

chore: trigger build backend service
  .github/workflows/backend-cd.yml
Due: none

chore: trigger build trending-service
  .github/workflows/trending-service-cd.yml
Due: none

refactor: fix dev env for postgres
  backend/src/app.module.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

feat: add frontend ci workflow
  .github/workflows/frontend.yml
Due: none

refactor: move search url to env variable
  frontend/src/app/articles/search/page.tsx
  frontend/src/components/command-menu.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

chore: update frontend api base url
  .github/workflows/frontend.yml
Due: none

chore: add arg frontend api base url to dockerfile
  frontend/Dockerfile
Due: none

add comment
  frontend/src/components/category-tabs.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

refactor: add comment
  frontend/src/components/category-tabs.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

Path conditions:
  prettier --ignore-path .eslintignore --single-quote --tab-width 4 --write: (any of: backend/**/*.{css,scss}) or (any of: frontend/**/*.{css,scss})
  prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write: (any of: backend/**/*.{js,jsx,ts,tsx}) or (any of: frontend/**/*.{js,jsx,ts,tsx})
  prettier --ignore-path .eslintignore --write: (any of: backend/**/*.json) or (any of: frontend/**/*.json)
  prettier --ignore-path .eslintignore --single-quote --write: (any of: backend/**/*.{html,md,yml}) or (any of: frontend/**/*.{html,md,yml})
