Repository ntkwan/newsify: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --write, prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write, prettier --ignore-path .eslintignore --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc:

{
  "backend/**/*.{css,scss}": [
    "prettier --ignore-path .eslintignore --single-quote --tab-width 4 --write"
  ],
  "backend/**/*.{js,jsx,ts,tsx}": [
    "prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write"
  ],
  "backend/**/*.json": [
    "prettier --ignore-path .eslintignore --write"
  ],
  "backend/**/*.{html,md,yml}": [
    "prettier --ignore-path .eslintignore --single-quote --write"
  ],
  "frontend/**/*.{css,scss}": [
    "prettier --ignore-path .eslintignore --single-quote --tab-width 4 --write"
  ],
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write"
  ],
  "frontend/**/*.json": [
    "prettier --ignore-path .eslintignore --write"
  ],
  "frontend/**/*.{html,md,yml}": [
    "prettier --ignore-path .eslintignore --single-quote --write"
  ]
}

chore: remove docker-compose and update README.md title
  README.md
  docker-compose.yml
Due: none

feat: script crawl cnn
  pipeline/news_scraper/news_scraper/__init__.py
  pipeline/news_scraper/news_scraper/items.py
  pipeline/news_scraper/news_scraper/middlewares.py
  pipeline/news_scraper/news_scraper/pipelines.py
  pipeline/news_scraper/news_scraper/settings.py
  pipeline/news_scraper/news_scraper/spiders/__init__.py
  pipeline/news_scraper/news_scraper/spiders/cnn_spider.py
  pipeline/news_scraper/scrapy.cfg
Due: none

feat: script crawl cnn (#2)
  pipeline/news_scraper/news_scraper/__init__.py
  pipeline/news_scraper/news_scraper/items.py
  pipeline/news_scraper/news_scraper/middlewares.py
  pipeline/news_scraper/news_scraper/pipelines.py
  pipeline/news_scraper/news_scraper/settings.py
  pipeline/news_scraper/news_scraper/spiders/__init__.py
  pipeline/news_scraper/news_scraper/spiders/cnn_spider.py
  pipeline/news_scraper/scrapy.cfg
Due: none

feat: upload raw data to s3
  pipeline/news_scraper/news_scraper/pipelines.py
  pipeline/news_scraper/news_scraper/settings.py
  pipeline/requirements.txt
Due: none

feat: :art: Add shadcn/ui components and create base layout
  .vscode/settings.json
  frontend/components.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/daily-podcasts/loading.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/loading.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/components/ui/date-picker.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/slider.tsx
  frontend/src/lib/utils.ts
  frontend/tailwind.config.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --write, prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write, prettier --ignore-path .eslintignore --write

feat: :sparkles: Implement news components and sections
  frontend/public/images/news/article-1.png
  frontend/public/images/news/article-2.png
  frontend/public/images/placeholders/news-placeholder.png
  frontend/public/images/placeholders/podcast-placeholder.png
  frontend/src/app/page.tsx
  frontend/src/components/category-section.tsx
  frontend/src/components/category-tabs.tsx
  frontend/src/components/layout/header.tsx
  frontend/src/components/sections/category-section.tsx
  frontend/src/components/sections/hero-section.tsx
  frontend/src/components/sections/latest-news-section.tsx
  frontend/src/components/sections/latest-podcast-section.tsx
  frontend/src/components/sections/news-and-category-section.tsx
  frontend/src/components/sections/podcast-library-section.tsx
  frontend/src/components/sections/search-section.tsx
  frontend/src/components/sections/trending-news-section.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

feat: :sparkles: Init daily news & podcast page
  frontend/src/app/daily-news/page.tsx
  frontend/src/app/daily-podcasts/page.tsx
  frontend/src/components/news-article.tsx
  frontend/src/components/podcast-episode.tsx
  frontend/src/components/ui/news-card.tsx
  frontend/src/components/ui/pagination.tsx
  frontend/src/components/ui/podcast-card.tsx
  frontend/src/components/ui/popover.tsx
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

feat: upload raw data to s3 (#3)
  pipeline/news_scraper/news_scraper/pipelines.py
  pipeline/news_scraper/news_scraper/settings.py
  pipeline/requirements.txt
Due: none

Add files via upload
  pipeline/trending-score.ipynb
Due: none

feat: add news trending score (#5)
  pipeline/trending-score.ipynb
Due: none

Add files via upload
  pipeline/news-comparison.ipynb
Due: none

eat: add news comparison for checking duplicated news (#6)
  pipeline/news-comparison.ipynb
Due: none

Add files via upload
  pipeline/news_with_trends_and_scores.csv
  pipeline/trending-score.ipynb
Due: none

feat: :sparkles: Integrated daily-news page with mock data
  frontend/next.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/daily-news/page.tsx
  frontend/src/components/news-article.tsx
  frontend/src/components/news-skeleton.tsx
  frontend/src/components/pagination.tsx
  frontend/src/data/mock-data.json
  frontend/src/services/news.service.ts
  frontend/src/types/news.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write, prettier --ignore-path .eslintignore --write

feat: add sample articles data and add uploader module on s3
  backend/render.yaml
  backend/src/main.ts
  backend/src/uploader/upload.module.ts
  backend/src/uploader/upload.service.ts
  data/.gitkeep
  data/19-26-48.json
  pipeline/.gitkeep
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

feat: :sparkles: Add search and category filter functionality
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/daily-news/page.tsx
  frontend/src/components/pagination.tsx
  frontend/src/components/search-bar.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/hooks/use-debounce.ts
  frontend/src/services/news.service.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write, prettier --ignore-path .eslintignore --write

feat: add tts api with summarized content
  backend/.env.example
  backend/deps.mermaid
  backend/package.json
  backend/src/app.module.ts
  backend/src/articles/articles.controller.ts
  backend/src/articles/articles.module.ts
  backend/src/articles/articles.service.ts
  backend/src/articles/dtos/time-range.dto.ts
  backend/src/podcast/dtos/generate-podcast.dto.ts
  backend/src/podcast/podcast.controller.ts
  backend/src/podcast/podcast.module.ts
  backend/src/podcast/podcast.service.ts
  backend/src/uploader/upload.module.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write, prettier --ignore-path .eslintignore --write

feat: add tts with transcription
  backend/.env.example
  backend/src/podcast/dtos/podcast-response.dto.ts
  backend/src/podcast/podcast.controller.ts
  backend/src/podcast/podcast.service.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

feat: change from whisper-1 to gemini audio understanding model
  backend/.env.example
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/podcast/podcast.service.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write, prettier --ignore-path .eslintignore --write

feat: setup airflow for crawling daily 1
  .gitignore
  pipeline/airflow.cfg
  pipeline/dags/dag.py
  pipeline/dags/news_scraper/news_scraper/__init__.py
  pipeline/dags/news_scraper/news_scraper/items.py
  pipeline/dags/news_scraper/news_scraper/middlewares.py
  pipeline/dags/news_scraper/news_scraper/pipelines.py
  pipeline/dags/news_scraper/news_scraper/settings.py
  pipeline/dags/news_scraper/news_scraper/spiders/__init__.py
  pipeline/dags/news_scraper/news_scraper/spiders/cnn_spider.py
  pipeline/dags/news_scraper/scrapy.cfg
  pipeline/docker-compose.yaml
  pipeline/requirements.txt
  pipeline/webserver_config.py
Due: none

fix: resolve conflicts
  pipeline/news-comparison.ipynb
  pipeline/news_with_trends_and_scores.csv
  pipeline/trending-score.ipynb
Due: none

feat: update gitignore
  .gitignore
Due: none

feat: settings crawl and docker
  pipeline/Dockerfile
  pipeline/airflow.cfg
  pipeline/dags/dag.py
  pipeline/dags/news_scraper/news_scraper/pipelines.py
  pipeline/dags/news_scraper/news_scraper/settings.py
  pipeline/dags/news_scraper/news_scraper/spiders/cnn_spider.py
  pipeline/docker-compose.yaml
  pipeline/news_scraper/news_scraper/pipelines.py
  pipeline/requirements.txt
Due: none

feat: setup delta spark
  .gitignore
  pipeline/dags/news_processing/news_processing.py
  pipeline/docker-compose.yaml
  pipeline/docker-setup/airflow/Dockerfile
  pipeline/docker-setup/airflow/requirements.txt
  pipeline/docker-setup/spark/Dockerfile
  pipeline/docker-setup/spark/conf/spark-defaults.conf
  pipeline/docker-setup/spark/entrypoint.sh
  pipeline/docker-setup/spark/requirements.txt
Due: none

fix: fix setup delta spark files
  pipeline/dags/news_scraper/news_scraper/spiders/cnn_spider.py
  pipeline/docker-compose.yaml
  pipeline/docker-setup/spark/Dockerfile
  pipeline/docker-setup/spark/conf/spark-defaults.conf
  pipeline/docker-setup/spark/entrypoint.sh
  pipeline/docker-setup/spark/requirements.txt
Due: none

chore: add pagination dto
  backend/src/articles/dtos/pagination-response.dto.ts
  backend/src/articles/dtos/pagination.dto.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

feat: add paginated endpoints
  backend/src/articles/articles.controller.ts
  backend/src/articles/articles.service.ts
  backend/src/podcast/podcast.controller.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

fix: fix setup docker
  pipeline/dags/news_processing/news_processing.py
  pipeline/docker-compose.yaml
  pipeline/docker-setup/spark/Dockerfile
  pipeline/docker-setup/spark/entrypoint.sh
  pipeline/docker-setup/spark/requirements.txt
Due: none

fix: resolve dto to allow get articles by time range with pagination
  backend/src/articles/articles.controller.ts
  backend/src/articles/articles.service.ts
  backend/src/articles/dtos/time-range.dto.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

refactor: change api name
  backend/src/articles/articles.controller.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

Merge pull request #14 from ntkwan/quan/feature/be/get-all-pages-pagination
  backend/src/articles/articles.controller.ts
  backend/src/articles/articles.service.ts
  backend/src/articles/dtos/pagination-response.dto.ts
  backend/src/articles/dtos/pagination.dto.ts
  backend/src/articles/dtos/time-range.dto.ts
  backend/src/podcast/podcast.controller.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

chore: update gitignore for fastAPI build
  .gitignore
  services/trending-service/.gitignore
Due: none

feat: add article trending news API
  services/trending-service/Dockerfile
  services/trending-service/README.md
  services/trending-service/app/main.py
  services/trending-service/docker-compose.yaml
  services/trending-service/requirements.txt
Due: none

Quan/feature/be/get articles by trending score (#15)
  .gitignore
  services/trending-service/.gitignore
  services/trending-service/Dockerfile
  services/trending-service/README.md
  services/trending-service/app/main.py
  services/trending-service/docker-compose.yaml
  services/trending-service/requirements.txt
Due: none

ci: add commit-lint and lint pipeline for both client and server
  .github/workflows/commit-lint.yml
  .github/workflows/lint.yml
  backend/README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

ci: update folder
  .github/workflows/commit-lint.yml
  .github/workflows/lint.yml
Due: none

ci: remove npm caching
  .github/workflows/commit-lint.yml
  backend/src/auth/dtos/user-signup.dto.ts
  backend/src/podcast/podcast.service.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write

Merge pull request #16 from ntkwan/quan/feature/be/ci-pipeline
  .github/workflows/commit-lint.yml
  .github/workflows/lint.yml
  backend/README.md
  backend/src/auth/dtos/user-signup.dto.ts
  backend/src/podcast/podcast.service.ts
Due: prettier --ignore-path .eslintignore --single-quote --tab-width 4 --trailing-comma all --write, prettier --ignore-path .eslintignore --single-quote --write
